<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="/css/books.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="overlay"></div>
    <%- include('../includes/header.ejs') %> 
    <main>
        <div class="loader">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
        <% if (books.length > 0) { %> 
            <% for (let book of books) { %>
                <article class="card">
                    <h2><%= book.name %></h2>
                    <div class="img-holder">
                        <img src="<%= book.imgUrl %>" loading="lazy" alt="book">
                    </div>
                    <h3><%= book.price %>$</h3>
                    <div class="actions">
                        <a href="/books/<%= book.id %>">Details</a>
                        <button class="add-to-cart" id="<%= book.id %>">Add to cart</button>
                    </div>
                </article>
            <% } %> 
        <% } else { %>
            <h1 style="padding-top: 260px">No books!</h1>
        <% } %> 
    </main>
    <footer>Made with <span>&#10084;</span> by Hazem Essam.</footer>
    <button class="to-top" onclick="goToTop()" ><span>&#x21ea;</span></button>
    <script src="/js/main.min.js"></script>
</body>
</html>